name: Keep HF Space Alive

on:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes
  workflow_dispatch:        # allows manual runs

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Hugging Face Space
        run: |
          curl -s https://sharvari-11-portfolio-ai-backend.hf.space/ > /dev/null
